Añadir comentario:

<form method="post" action="/quizes/<%= quizId %>/comments/">
<p><input type="text" id="comment" name="comment[texto]" value="" /></p>
<p><button type="submit">Enviar</button>
</form>
