<form method="GET" action="/quizes">
<span>Busca la pregunta:</span>
<input type='text' name='search' />
<input type='submit' value='Enviar la consulta' />
</form>
<table>
<% var i;
for (i=0; i< quizes.length; i++) { %>
	<tr>
		<td>
			<a href='/quizes/<%= quizes[i].id%>'><%= quizes[i].pregunta %></a>
		</td>
	</tr>
<% } %>
</table>