<form method="GET" action="/quizes/<%= quiz.id %>/answer"> 
	Pregunta: <%= quiz.pregunta %>
	<input type="text" name="respuesta" value="Responde aquí" />
	<input type="submit" value="Enviar" />
</form>
  